*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
    position: relative;
    width: 100%;
    background: #eff4fd;
    min-height: 700px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
nav>a>img{
    height: 80px;
}
nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav>ul>li>a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav>ul>li>a:hover{
    color: red;
}
.details{
    margin-left: 8%;
    margin-top: 15%;
}
.details>h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;

}
span{
    color: orange;
}
.details>p{
    color: #555;
    line-height: 22px;
}
.details>a{
    background: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images img{
   height: 85%;
   position: absolute;
   left: 80%;
   bottom: 0;
   transform: translateX(-50%);
   transition: bottom 1s, left 1s ; 
}
.images img:nth-child(2){
    height: 80%;
}
.images:hover .shape{
    bottom: 40px;
}
.images:hover .photo{
    left: 75%;
}
.social>a>i{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    padding: 8px;
}

#about{
    background: #eff4fd;
    border: 1px solid transparent;
    min-height: 700px;
}
#info{
    width: 40%;
    margin: 200px auto;
    text-align: center;
    padding: 100px;
    border: 2px solid;
    border-radius: 20px;
}
#info>h1{
    padding: 20px;
}
#info>h1+p{
    font-size: 25px;
    padding: 20px;
}
#info>p+p{
    font-size: 18px;
    line-height: 25px;
}

